@import "tailwindcss";

@theme {
    --font-vazir: 'Vazir';
    --font-sahel: 'Sahel';
}

@layer base {
  body {
    @apply bg-gray-800 text-white font-vazir;
  }
  input {
    @apply !font-vazir
  }
}

@utility container {
    margin-right: auto;
    margin-left: auto;
}